<h3>Liste des films</h3>

<input
    class="form-control my-4"
    type="text"
    placeholder="Recherche..."
    autofocus
    [(ngModel)]="currentQuery"
    (input)="updateQuerySubj($event)"
/>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-md-4">Titre</th>
            <th scope="col" class="col-md-2">Année de sortie</th>
            <th scope="col" class="col-md-2">Durée</th>
            <th scope="col" class="col-md-2">Classement</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let film of films">
            <td>{{ film.title }}</td>
            <td>{{ film.releaseYear }}</td>
            <td>{{ film.length | m2h }}</td>
            <td>{{ film.rating }}</td>
        </tr>
    </tbody>
</table>

<br />

<app-pagination
    [hidden]="films.length == 0"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="updateQueryParams($event, currentQuery)"
/>
