<div class="row">
    <div class="col-md-10">
        <h3>Liste des films</h3>
    </div>
    <div class="col-md-2 text-end">
        <a class="btn btn-primary">Ajouter un film</a>
    </div>
</div>

<!-- TODO: put this in its own component (search-bar) -->
<input
    class="form-control my-4"
    type="text"
    placeholder="Recherche..."
    autofocus
    [(ngModel)]="currentQuery"
    (input)="updateQuerySubj($event)"
/>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-md-4">Titre</th>
            <th scope="col" class="col-md-2">Année de sortie</th>
            <th scope="col" class="col-md-2">Durée</th>
            <th scope="col" class="col-md-2">Classement</th>
            <th scope="col" class="col-md-auto"></th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: put this in its own component (film-list-item) -->
        <tr *ngFor="let film of films" class="align-middle">
            <td>{{ film.title }}</td>
            <td>{{ film.releaseYear }}</td>
            <td>{{ film.length | m2h }}</td>
            <td>{{ film.rating }}</td>
            <td class="text-end">
                <a class="btn btn-outline-info me-2" ngbTooltip="Détails"
                    >&#x2630;</a
                >
                <a class="btn btn-outline-warning me-2" ngbTooltip="Modifier"
                    >&#x270E;</a
                >
                <a class="btn btn-outline-danger" ngbTooltip="Supprimer"
                    >&#x2715;</a
                >
            </td>
        </tr>
    </tbody>
</table>

<br />

<app-pagination
    [hidden]="films.length == 0"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="updateQueryParams($event, currentQuery)"
/>
